<!-- bottom navigation -->
<nav class="navbar fixed-bottom navbar-light bg-light p-0">
  <div class="container-fluid align-items-center justify-content-center">
        <p class="navbar-text p-3 m-0">&copy; Copyright 2021 kennyf.ca</p>
  </div>
</nav>

