<nav class="navbar navbar-light bg-light">
  <div class="container-fluid align-items-center justify-content-center">
        <p class="navbar-text p-3 m-0">&copy; Copyright 2021 kennyf.ca</p>
  </div>
</nav>

