<main class="container">
  <article class="row mt-5 text-center">
  <%# Intro about me and links %>
    <div class="col">
      <h1 class="display-4">Hi, I'm Ken</h1>
      <p class="lead">Front End Software Engineer with Full Stack Experience</p>
      <hr class="my-4" />
      <p>
        I'm beyond excited to be writing this "about me" post.  
      </p>
      <p>I could't have
        imagined that my first "Hello World" would lead me into such a
        deep and exciting world of possibilty.  From eCommerce to game development, I want to try it all.</p>
      <p>Please, feel free to take a look around at some of the things I've built.  <a target="_blank" href="http://studentweb.cencol.ca/kfowler9/COMP125_ken_assignment5/assignment5.html">Monster Hunter</a> is an incredibly simple browser game that I made in Centennial College's COMP125 course.
         I also have a <a href="#">business webpage</a> and <a target="_blank" href="https://www.upwork.com/freelancers/~01070c543d5e24cdd0?viewMode=1">Upwork profile</a> where I'm experimenting with freelance web development</p>
        <a class="btn btn-primary btn-lg" href="/assets/images/kens-resume.pdf" role="button">Resume</a>
      </p>
    </div>
    <%# Photo and caption %>
        <div class="col text-center">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="/assets/images/photo-ken.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">My favorite place: the park</h5>
          <p class="card-text">
            Coding all day would make it work and I want it to be fun.  So, here I am at the park to get some sun.
          </p>
        </div>
      </div>
    </div>
  </article>
</main>
