<main class="container">
  <article class="row mt-5">
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="/assets/images/profile-photo.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Mitsubishi Heavy Industries</h5>
          <p class="card-text">
            This picture is from my old office.  If my next office has more windows and fewer air-powered hammers that would be perfect!
          </p>
        </div>
      </div>
    </div>
    <div class="col-8">
      <h1 class="display-4">Hi, I'm Ken</h1>
      <p class="lead">I'm a future professional Software Developer.</p>
      <hr class="my-4" />
      <p>
        I'm beyond excited to be writing this "about me" post.  
      </p>
      <p>I could't have
        imagined that my first "Hello World" would lead me into such a
        deep and exciting world of possibilty.  From eCommerce to game development, I want to try it all.</p>
      <p>Please, feel free to take a look around at some of the things I've built.  <a href="#">Monster Hunter</a> is an incredibly simple browser game that I made in Centennial College's COMP125 course.
         I also have a <a href="#">business webpage</a> and <a href="#">Upwork profile</a> where I'm experimenting with freelance web development</p>
        <a class="btn btn-primary btn-lg" href="/about" role="button">Resume</a>
      </p>
    </div>
  </article>
</main>
