    <!-- Content -->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Hi, I'm Ken</h1>
        <p class="lead">I'm a future software developer.  Welcome to my home page!</p>
        <hr class="my-4" />
        <p>
          MISSION: My mission is to make life better using tech!
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/about" role="button"
            >About Me</a
          >
        </p>
      </div>
    </main>
