<!-- Content -->
<main>
  <div class="jumbotron text-dark">
    <div class="frosted-card">
      <h1 class="display-4">Hi, I'm Ken</h1>
      <p class="lead">I'm a future professional software developer.</p>
      <p>MISSION: My mission is to make life better using tech!</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button"
          >About Me</a
        >
        <a class="btn btn-secondary btn-lg" href="/projects" role="button"
          >Projects</a
        >
      </p>
    </div>
  </div>
  <div class="container-fluid bg-light skills">
    <div class="row flex-row">
      <div class="col-sm-6 col-md-4 col-lg-2">
        <i class="fab fa-html5 fa-9x"></i>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <i class="fab fa-css3-alt fa-9x"></i>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <i class="fab fa-js fa-9x"></i>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <i class="fab fa-node fa-9x"></i>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <i class="fab fa-angular fa-9x"></i>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <i class="fab fa-bootstrap fa-9x"></i>
      </div>
    </div>
  </div>
</main>
