<div class="container-fluid">
  <div class="row justify-content-around gap-0.25">
    <div class="card col-lg-4 col-sm-12 p-0 gap-3">
      <div class="video">
        <iframe
          width="400"
          height="225"
          src="https://www.youtube.com/embed/hSrLO7u7Cow"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">Store Setup: Northern Clothiers</h5>
        <p class="card-text">
          In this project I used the Shopify CMS to setup an online store for a
          company called Northern Clothiers. Features include:
        </p>
        <ul>
          <li>Drop-down navigation with featured products</li>
          <li>Clickable image that links to product page</li>
          <li>Customized logo and animations</li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted">Created: 2021-05-26</small>
      </div>
    </div>
    <div class="card col-lg-4 col-sm-12 p-0 gap-3">
      <div class="video">
        <iframe
          width="400"
          height="225"
          src="https://www.youtube.com/embed/HK7FVneDAtA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">Browser Game: Monster Hunter</h5>
        <p class="card-text">
          Monster hunter is a browser based game that uses the HTML canvas
          element and some JavaScript. Features include:
        </p>
        <ul>
          <li>
            Monster that jumps each time it's clicked. The more it's caught the
            faster it jumps
          </li>
          <li>Score that increments each time the monster is caught</li>
          <li>Buttons to decrease the difficulty and/or restart the game.</li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted">Created: 2021-03-17</small>
      </div>
    </div>
    <div class="card col-lg-4 col-sm-12 p-0 gap-3">
      <div class="video">
        <iframe
          width="400"
          height="225"
          src="https://www.youtube.com/embed/99HC7fZgZ3w"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">Protfolio Page: Personal Portfolio</h5>
        <p class="card-text">
          This portoflio page takes a weblflow template and adapts it to use a
          custom content management system
        </p>
        <ul>
          <li>
            Uses node.js and express to implement a content management system
            outside of the Webflow environment
          </li>
          <li>
            Preserves the style and functionaility of the original portfolio
            system
          </li>
          <li>
            Features animations and style that makes the content interesting
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
