<%# Featured services %>
<main class="container-fluid services">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="/assets/images/shopify-logo-window-with-plant.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">eCommerce Development</h5>
          <p class="card-text">
            Let me build your eCommerce solution on Shopify
          </p>
          <ul>
            <li>Store Setups</li>
            <li>Theme Customizations</li>
            <li>Migrations</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="/assets/images/web-applications.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Web Application Devlopment</h5>
          <p class="card-text">
            Experince building full stack web applications
          </p>
          <ul>
            <li>Full stack development with Node.js</li>
            <li>Hosted on your choice of cloud platform</li>
            <li>Secure logins and user accounts</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/assets/images/games.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Game Development</h5>
          <p class="card-text">I can help your game development team</p>
          <ul>
            <li>Knowledge of unity and C#</li>
            <li>Passion for games</li>
            <li>Excellent communication and project management skills</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</main>
