<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="/content/app.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />
  </head>
  <body>
    <!-- Main Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">KENNY F.</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home"
                ><i class="fas fa-home"></i> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/services"
                ><i class="fas fa-concierge-bell"></i> Services</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/projects"
                ><i class="fas fa-cogs"></i> Projects</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/blog"
                ><i class="fas fa-blog"></i> Blog</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link l1" aria-current="page" href="/aboutus"
                ><i class="far fa-question-circle"></i> About</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/contact"
                ><i class="fas fa-mobile-alt"></i> Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Content -->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Welcome to <%= title %></p>
        <hr class="my-4" />
        <p>
          It uses utility classes for typography and spacing to space content
          out within the larger container.
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button"
            >Learn more</a
          >
        </p>
      </div>
    </main>
    <!-- Client Side JavaScript Section -->
    <script src="scripts/app.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
